.envios{
    background-color: #77EAAF;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: 2px black solid;
    line-height: 0%;
    width: 100%;
    font-family: "Monserrat-Bold.woff";
}
#home{
    width: 100%;
    overflow: hidden;
}
#menu{
    align-items: center;
    cursor: pointer;
}
#banner_oversize_hombre{
    width: 100%;
}
.envios p{
    align-items: center;
    justify-content: center;

}
.SecctionTittle{ /*Contiene al título Oversize*/
    background-color: #B194C8;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    border: 2px black solid;
    line-height: 0%;
    font-family: "Monserrat-Bold.woff";
}
.Titulos_producto{
    background-color: #77EAAF;
    height: 35px;
}
.Titulos_producto h1 {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    font-family: "Monserrat-Bold.woff";
}
.complete_pictures{
    justify-content: space-around;
    display: flex ;
}
#completa  {
    margin-top: 25px;
    width: 30%;
    height: 400px;
}
.titulo{ /*Contiene al título del precio que activa el modal*/
    text-align: center;
    margin-bottom: 125px;
    margin-top: 85px;
}
.titulo a{ /*Contiene al valor de $30.000*/
    text-decoration: none;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Monserrat-Light.woff";
}
.modalDialog{
    background-color: #E5E5E5;
    width:800px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20vh;
    height: 50vh;
    bottom: 0;
    right: 50px;
    opacity:0;

    justify-content: center;
    margin-left: 25vw;
    font-family: "Monserrat-Light.woff";
}
  .imagen_modal img {
      display: flex;
      width: 80%;
      height: 80%;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      margin-top: 25px;
  }
  .contiene_modal{
      display: flex;
      padding: 23px;
  }
  .imagen_modal p{
    font-size: 23px;
    text-align: center;
  }
  .modalDialog:target {
    opacity:1;
    pointer-events: auto;

}
.img.img_modal img{
    width: 30%;
    height: 30%;
}
.colores{
    display: flex;
    justify-content: space-around;
}
 #negro{
     background-color: black;
     border-radius: 50%;
     width: 25px;
     height: 25px;
 }
 #blanco{
    background-color: white; 
    border-radius: 50%;
    width: 8%;
 }
 #gris{
    background-color:grey;
    border-radius: 50%;
    width: 8%;
 }
  .camisetas img{
      width: 30%;
      height: 30%;
  }
#salida a{
    background-color: grey;
    color: lavender;
}
/*Sección de los colores en circulos del modal para pantalones y busos*/ 
.titulo1{ /*Contiene al título del precio que activa el modal*/
    text-align: center;
    margin-bottom: 125px;
    margin-top: 85px;
}
.pantalones{
    display: flex;
}
.colores1{
    display: flex;
    justify-content: space-around;
}
#negro{
    background-color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
#blanco{
   background-color: white; 
   border-radius: 50%;
   width: 8%;
}
#gris{
   background-color:grey;
   border-radius: 50%;
   width: 8%;
}
#beich{
   background-color: #E0DDC2;
   border-radius: 50%;
   width: 8%;
}
#azul_oscuro{
   background-color: #180D72;
   border-radius: 50%;
   width: 8%;
}
.colores2{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
#azul_claro{
    background-color: #7AB1E8;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    
}
#rosa_pastel{
    background-color: #E4B996;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
#rosado{
    background-color: #D896E4;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
#violeta{
    background-color: #B137C7;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
#morado{
    background-color: #601298;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.colores3{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}
#amarillo{
    background-color: yellow;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
#amarillo_pastel{
    background-color:#FFFFBF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
#amarillo_quemado{
    background-color: #B6AA48;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
#naranja{
    background-color: #EDAB04;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
#cafe{
    background-color:#684B00;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.colores4{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}
 #verde_oscuro{
     background-color: #0F4330;
     border-radius: 50%;
     width: 25px;
     height: 25px;
 }
 #verde_pastel{
    background-color: #8FDDAF; 
    border-radius: 50%;
    width: 8%;
 }
 #rojo{
    background-color: red;
    border-radius: 50%;
    width: 8%;
 }
 #rojo_oscuro{
    background-color: #A30C2A;
    border-radius: 50%;
    width: 8%;
 }
 #vinotinto{
    background-color: #860A23;
    border-radius: 50%;
    width: 8%;
 }
  .camisetas img{
      width: 30%;
      height: 30%;
  }
@font-face { /*Carpeta de fuentes*/
    font-family: "Monserrat-Light.woff";
    src: url(../Fuentes/Montserrat-Light.woff);
}
@font-face { /*Carpeta de fuentes*/
    font-family: "Monserrat-Bold.woff";
    src: url(../Fuentes/Montserrat-Bold.woff);
}
/*ESTILOS DEL FOOTER*/
.footer{ /*Contenedor general del pie de página*/
    background-color: #B194C8;
    font-family: "Monserrat-Light.woff";
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    height: 300px;
    align-items: center;
}
.footer a{
    text-decoration: none;
    color: black;
}
#text{ /*Título de la sección*/ 
    font-family: "Monserrat-Bold.woff";
}
.last{ /*Somos arte*/
    background-color: #77EAAF;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Monserrat-Bold.woff";
}
