.envios{
    background-color: #77EAAF;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: 2px black solid;
    line-height: 0%;
    width: 100%;
    font-family: "Monserrat-Bold.woff";
}
#home{
    width: 100%;
    overflow: hidden;
}
#menu{
    align-items: center;
    cursor: pointer;
}
#banner_oversize_hombre{
    width: 100%;
}
.envios p{
    align-items: center;
    justify-content: center;

}
.SecctionTittle{ /*Contiene al título Oversize*/
    background-color: #B194C8;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    border: 2px black solid;
    line-height: 0%;
    font-family: "Monserrat-Bold.woff";
}
.Titulos_producto{
    background-color: #77EAAF;
    height: 35px;
}
.Titulos_producto h1 {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    font-family: "Monserrat-Bold.woff";
}
.complete_pictures{
    justify-content: space-around;
}
#completa  {
    width: 20%;
    height: 10%;
}
#titulo{
    text-decoration: none;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 0%;
    margin-top: 200px;
    font-family: "Monserrat-Light.woff";
}
.modalDialog{
    background-color: #E5E5E5;
    width:800px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    font-family: "Monserrat-Light.woff";
    display: flex;
    height: 50%;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  .imagen_modal img {
      display: flex;
      width: 80%;
      height: 80%;
      justify-content: center;
      align-items: center;
      margin-left: 25px;
      margin-top: 25px;
  }
  .imagen_modal p{
    justify-content: center;
    align-items: center;
    font-size: 23px;
  }
  .modalDialog:target{
    opacity:1;
    pointer-events:auto;
  }
.img.img_modal img{
    width: 30%;
    height: 30%;
}
.colores{
    display: flex;
    justify-content: space-around;
}
 #negro{
     background-color: black;
     border-radius: 50%;
     width: 25px;
     height: 25px;
 }
 #blanco{
    background-color: white; 
    border-radius: 50%;
    width: 8%;
 }
 #gris{
    background-color:grey;
    border-radius: 50%;
    width: 8%;
 }
  .camisetas img{
      width: 30%;
      height: 30%;
  }
#salida a{
    background-color: grey;
    color: lavender;
}
@font-face { /*Carpeta de fuentes*/
    font-family: "Monserrat-Light.woff";
    src: url(../Fuentes/Montserrat-Light.woff);
}
@font-face { /*Carpeta de fuentes*/
    font-family: "Monserrat-Bold.woff";
    src: url(../Fuentes/Montserrat-Bold.woff);
}