/*Inicio banner principal*/
*{
    padding: 0px;
    margin: 0px;
}
.bannerprincipal img{
    width: 100%;
    height: 630px;
    overflow: hidden;
    padding-top: 60px;
    background-attachment: fixed;
     
}
.franja_verde, .cabecera{
    position: relative;
}



/*Menù lateral*/

#menu{
    padding-left: 180px;
}

input [type="checkbox"]
{
    display: none;
}
label{
    padding-left: 35%;
    position: absolute;
    z-index: 1;

}
nav{
     height: 99vh;
    left: -300px;
    position: fixed;
    transition: all .5s;
    z-index: 2;
    top: 0;
   
}

input[type="checkbox"]:checked ~ nav
{
    transform: translateX(300px);
}
.menu{
    
    margin: 0px;
    height: 800px;
    width: 500px;
    font-family:  "Monserrat-Light.woff";
    font-size: 20px;
   
    float: left;  
}
.item1 a{
    color: white ;
    text-decoration: none;
    
    
}
.item2{
    background-color: rgb(139, 139, 139);
}

.item1:hover  {
background-color: rgb(155, 153, 153);
}
.item1 {
    padding: 7px 5px;
    border-bottom: white 2px solid;
    text-align: center;
    background-color: rgb(7, 7, 7);
    min-height: 20px;
}
.item2 li:hover{
background-color: rgb(119, 119, 119); 
}
.item3 li:hover{
    background-color: rgb(87, 84, 84); 
} 
.item2:hover{
    background-color: rgb(87, 84, 84); 
}
.item3 li{
    font-family:"Monserrat-Bold.woff" ;
} 
.item2{
    font-family:"Monserrat-Bold.woff" ;
}


#cont-menu{
    height: 700px;
    width: 300px;
    background-color: rgb(5, 5, 5);
}
nav ul li:hover > ul {
display: block;
}
nav ul li ul {
    display: none;
}

/*Fin de Menù lateral*/

/*banner categorias*/
.seccion1{
    height: auto;
    width:100%;
    
    
}
.seccion2{
    height: auto;
    width:100%;
    
}
.categoria1{
 
    padding: 10px;
    display: inline-block;
 }

.categoria1 img{
width: 18vw;
height: 250px;
border-radius: 100%;
padding: 90px;
display: inline-block;


}

.info{
    width: 80px;
    height: 50px;
    
}
.info h4{
    margin-top: -80px;
    padding-left: 160px;
    margin-right: 90px;
    font-family:  "Monserrat-Bold.woff";
    
}
.categoria2{
 
 padding: 10px;
 display: inline-block;
}
.categoria2 img{
    width: 15vw;
    height: 220px;
    border-radius: 100%;
    padding: 100px;

    
}

/*fin banner categorias*/

/*banner fabricantes*/
.fabricantes img{
    padding-top: 60px;
    width: 100%;
    height: 500px;
}
.testimonios{
    height: auto;
    width: 100%;
    
    
}

.testimonios img{
margin-left: 120px;
padding: 20px;
width: 250px;
height: 350px;
display: inline-block;

}


/* fin fabricantes*/


@font-face { /*Carpeta de fuentes*/
    font-family: "Monserrat-Light.woff";
    src: url(../Fuentes/Montserrat-Bold.woff);
}
@font-face { /*Carpeta de fuentes*/
    font-family: "Monserrat-Bold.woff";
    src: url(../Fuentes/Montserrat-Light.woff);
}

