
.fotos1{ /*Sección primera de fotos*/
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;
}
.fotos1 img{
    margin: 15%;
}
.fotos2{ /*Sección segunda de fotos*/
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;
}
.fotos2 img{
    margin: 15%;
}
.texto{ /*Elige el color [..]*/
    font-family: "Monserrat_Bold";
    text-align: center;
    font-size: 34px;
}

/* responsive */
@media screen and (min-width:375px) and (max-width:420px) {
    .fotos1, .fotos2{
        grid-template-columns: 1fr;
        display: grid;
        margin: 0;
    } 
    .fotos1 img{
        margin: 0;
    }
}

@media screen and (min-width:421px) and (max-width:800px) {
    .fotos1, .fotos2{
        grid-template-columns: 1fr;
        display: grid;
        margin: 0;
    } 
    .fotos2 img{
        margin: 0;
    }
}